.comment {
    background-color: #FFFFA8;
    font-family: georgia,garamond,serif;
}

.heading {
    background-color: #F0F0F0;
    color: #A4A400;
    font-family: "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
    font-size: 18pt;
    text-decoration: underline;
    letter-spacing: 0.25em;
}

.pre {
    font-family: georgia,garamond,serif;
}

.section {
    border-bottom: 1px solid #404040;
    margin: 20px 0px;
}


#comments {
    padding: 0px 30pt;
    margin: 20pt 0pt 15pt 0pt;    
}

#copyright {
    text-align: right;
}

#header {
    text-align: center;  
    margin-bottom: 30pt;
}

#header .heading {
    font-size: 22pt;
}

a {
    color: #A4A400;
}

body {
    background-color: #F0F0F0;
    background-image: url(images/silverware.jpg);
    color: #404040;
    font-family: georgia,garamond,serif;
    font-size: 11pt;
}

pre {
    white-space: pre-wrap;
}

ul {
    list-style: url(images/pie_icon.gif);
}